body{
   /* background-color: rgb(34, 37, 53); */
   background-color: rgb(48, 52, 73);
}
/* tbody{
    border-top-color: aqua!important;
} */

.theme-header{
   background-color: rgba(208, 203, 230, 0.849);
}

.error{
   color: red;
}