.cardStyle{
    background-color: rgb(242, 242, 242);
    color: rgb(111, 111, 111);
}

.seatRows{list-style-type:none;}
.seat {
    width: 3.125rem;
    height: 2.882rem;
    position: relative;
    cursor: pointer;
}

.seatNum {
    /*color: #32414a;*/
    color: #3f4142;
    font-family: Rams-Regular,sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .025rem;
    position: absolute;
    top: 1.55rem;
    width: 2.275rem;
    text-align: center;
    cursor: pointer;
}

.volante{
    
    width: 48px;
    height: 48px;
    position: relative;
    top: 0.65rem;
}

.selected {
    color: #fff;
}